:root {
  --h1: 1step;
  @root;
}

body {
  @base;
}

.h2 {
  @h2;
}

.h3 {
  @h3;
}

.h4 {
  @h4;
}

.h5 {
  @h5;
}

.h6 {
  @h6;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.foo {
  font-size: 1step;

  @up (sm) {
    font-size: 1step;
  }

  @up (sm):landscape {
    font-size: 2step;
  }

  @down (md) {
    color: pink;
  }

  @only (md) {
    font-size: 2step;
  }

  @between (md, lg):landscape {
    font-size: 2rem;
  }
}
